<section id="header">
	<header>
		<img src="../Content/images/CorpLogoFW.png" alt="image">

	</header>
</section>

<section id="mainMnu"  ng-controller="MenuController as menu">
		

   <ul id="items">

      <li  ng-repeat="mnuItem in menu.menuItems">
         <a ng-href="#{{mnuItem.Name}}">{{mnuItem.Title}}</a>
      </li>

      <ol>
      	 <li ng-repeat="subMnuItem in menu.subMenuItems">
      	 	<a ng-href="#{{subMnuItem.Name}}"> {{subMnuItem.Title}}</a>
      	 </li> 
      </ol>
   </ul>

</section>




	

