//Dedicated sole for ContactView

.contactForm {
    background-image: url(../images/Grey_business_ppt_template.jpg);
    margin: 0% 0.01% 5% 0.01%;
    padding: 50;
    position: relative;
    .form-group {
        width: 25%;
    }
    p {
        padding-right: 20%;
    }
}

.bodyForm {
    background-color: #ffffff;
    margin-top: -4.99%;
    position: relative;
    .topForm {
        .primary-contact {
            .col-md-4 {
                // border: 1px solid red;
                padding: 2.5%;
                right: 150px;
                .thumbnail {
                    // border: 1px solid blue;
                    margin: 50px;
                    height: 270px;
                    .caption {
                        // border: 1px solid yellow;
                        padding:0 0 30px 0;
                        h4 {
                            // border: 1px solid green;
                            text-align: center;
                        }
                        p {
                            // border: 1px solid purple;
                            padding-top: 10px;
                            img {
                                // border: 1px solid gray;
                                margin-top: 20px;
                                margin-left:55px;

                            }
                        }
                        a {
                            // border: 1px solid grey;
                            margin-top:20px;
                            margin-left: 70px;

                            .btn {
                                // border: 1px solid green;

                            }
                        }
                    }
                }
            }
        }
        .secondary-contact {
            .col-md-4 {
                // border: 1px solid red;
                padding: 2.5%;
                .thumbnail {
                    // border: 1px solid blue;
                    margin: 50px;
                    height: 270px;
                    .caption {
                        // border: 1px solid yellow;
                        padding:0 0 30px 0;
                        h4 {
                            // border: 1px solid green;
                            text-align: center;
                        }
                        p {
                            // border: 1px solid purple;
                            padding-top: 10px;
                            img {
                                // border: 1px solid gray;
                                margin-top: 20px;
                                margin-left:55px;

                            }
                        }
                        a {
                            // border: 1px solid grey;
                            margin-top:20px;
                            margin-left: 70px;

                            .btn {
                                // border: 1px solid green;

                            }
                        }
                    }
                }
            }
        }
        .tertiary-contact {
            .col-md-4 {
                // border: 1px solid red;
                padding: 2.5%;
                left: 170px;
                .thumbnail {
                    // border: 1px solid blue;
                    margin: 50px;
                    height: 270px;
                    .caption {
                        // border: 1px solid yellow;
                        padding:0 0 30px 0;
                        h4 {
                            // border: 1px solid green;
                            text-align: center;
                        }
                        p {
                            // border: 1px solid purple;
                            padding-top: 10px;
                            img {
                                // border: 1px solid gray;
                                margin-top: 20px;
                                margin-left:55px;

                            }
                        }
                        a {
                            // border: 1px solid grey;
                            margin-top:20px;
                            margin-left: 70px;

                            .btn {
                                // border: 1px solid green;

                            }
                        }
                    }
                }
            }
        }
    }
    .bottomForm {
        .container {
            margin-top: 10%;
            padding-bottom: 10%;
            .col-md-4 {
                .img-circle {
                    margin-top: -15%;
                    margin-left: 120px;
                }
                .facebook {
                    margin-top: 25%;
                    margin-left: 110px;
                }
                .linkedin {
                    margin-top: 25%;
                    margin-left: 125px;
                }
                .twitter {
                    margin-top: 25%;
                    margin-left: 135px;
                }
                p {
                    text-align: center;
                }
                p {
                    a {
                        display: inline;
                    }
                }
                &.left {
                    right: 15%;
                }
                &.right {
                    left: 15%;
                }
            }
        }
    }
}