//Dedicated sole for ContactView

.contactForm {
    background-image: url(../images/Grey_business_ppt_template.jpg);
    color: black;
    border: 2.5px solid black;
    margin: 0% 0.01% 5% 0.01%;
    padding: 50px 50px 50px 50px;
    max-width: 100%;
    position: relative;
    .form-group {
        width: 50%;
    }
}

.bodyForm {
    background-color: #DEDEDB;
    border: 2.5px solid black;
    margin-top: -4.99%;
    position: relative;
    .topForm {
        .row {
            display: inline-block;
            margin-left: 8%;
            margin-right: 5%;
            margin-top: 2%;
            margin-bottom: 0%;
            max-width: 100%;
            .col-sm-6 {
                width: 120%;
                .thumbnail {
                    height: 50%;
                    .caption {
                        max-height: 100%;
                        h3 {
                            max-width: 100%;
                        }
                        p {
                            img {
                                margin: 50px 0px;
                            }
                        }
                        p {
                            a {
                                margin: 160px 40px;
                                .btn btn-primary {
                                    max-height: 100%;
                                    padding: 10px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottomForm {
        .container.marketing {
            padding-bottom: 10%;
            margin-top: 10%;
            .col-lg-4 {

                .img-circle {
                    margin-left: 30%;
                }
                h2 {
                    margin-top: 50%;
                    margin-left: 33%;
                }
                p {
                    text-align: center;
                }
                p {
                    a {
                        display: inline;
                    }
                }
            }
        }
    }
}

.generalFooter {
    background-color: #244862;
    position: relative;
    .footerStyle {
        padding-bottom: 20px;
        blockquote {
            margin-top: 0%;
            p {
                color: white;
            }
            footer {
                color: white;
            }
        }
    }
}