.generalFooter {
    background-color: #244862;
    .footerStyle {
        padding-bottom: 20px;
        blockquote {
            margin-top: 0%;
            p {
                color: white;
            }
        }
    }
}