/// <reference path="_1cssVars.scss">
/// <reference path="_1mixins.scss">


// Displays the mainMenu horizontally.
ul#mainMnu li {
  display: inline;
  color: #ffffff;
  margin-right:20px;

}
ul#mainMnu{
  padding-top:100px;
  float:right;
}