/// <reference path="_1cssVars.scss">
/// <reference path="_1mixins.scss">

section#mainMnu {
 // position: relative;
  margin-left: 40em;
  margin-top: 7em;

  // Displays the mainMenu horizontally.
    ul li {
      display: inline;
      margin-left:2em;
}
}


/// <reference path="_1cssVars.scss">
/// <reference path="_1mixins.scss">


