.introSection{

	border: 2px solid red;
	background-color: black;
	width: 1000px;
	height: 500px;
	p{
		padding: 20px 20px;
		margin-bottom: 100px;
		width: 500px;
	}
}
.searchMenu{
	margin-top: -500px;
	border: 2px solid red;
	background-color: black;
	width: 200px;
	float: right;
	.filterList{

	}
	.searchList{
		height: 445px;
	}
	
}
.jobPosting{
	width: 100%;
	border: 2px solid red;
	background-color: black;
	.searchMenu{
		padding: 40px 40px;
		
	}
}



.jobDescription{
	border: 2px solid red;
	background-color: black;
	width: 100%;
	padding: 20px 20px;
	
	.descriptonReturn{
		padding: 20px 20px;
	}
}