.productsHeader{
	background-image: url("../images/Grey_business_ppt_template.jpg");
	margin-top: -20px;
	height: 500px;
	width: 100%;
}
.productsBody{
	margin-top: 30px;
	width: 100%;
	height: 1000px;
	p{
		display: inline;
	}

}
