#registerPage{
    background-image: url(../images/Grey_business_ppt_template.jpg);
    background-color: black;
    length:50%;
    height:50%;     
    margin-top: -20px;
    // border: 2.5px solid red;
    h1{
        color:black;
        outline: blue;
    }
    h2{
        text-align: center;
        font-weight: bold;

    }
}
$color: white;
.Login   {
    background-color: white;
    width:50%;
    length:25%;   
    border: 1px solid black;
    padding: 4% 8% 4% 8%;
    font-weight: bold;
    .form-group {
        opacity: 1;
        &.f{
            color:$color;
        }

        &.se {
            color:$color;
        }
        &.th {
            color:$color;
            width: 20%;
        }
        &.fo {
            color:$color;
            width: 20%;
        }
        &.fi {
            color:$color;
            width: 20%;
        }
        &.si {
            color:$color;
            width: 40%;
        }
        &.sev {
            color:$color;
        }
        &.ei {
            color:$color;
        }
    }
}
.Registration{
    background-color: white;
    width:50%;
    length:25%;   
    border: 1px solid black;
    padding: 4% 8% 4% 8%;
    font-weight: bold;
    .form-group {
        opacity: 1;w
        &.f{
            color:$color;
        }

        &.se {
            color:$color;
        }
        &.th {
            color:$color;
            width: 20%;
        }
        &.fo {
            color:$color;
            width: 20%;
        }
        &.fi {
            color:$color;
            width: 20%;
        }
        &.si {
            color:$color;
            width: 40%;
        }
        &.sev {
            color:$color;
        }
        &.ei {
            color:$color;
        }
    }

}