.solutionHeader{
	background-image: url("../images/Grey_business_ppt_template.jpg");
	margin-top: -20px;
	height: 500px;
	width: 100%;
}
.solutionBody{
	margin-top: 30px;
	width: 100%;
	height: 80%;
	p{
		display: inline;
	}
	
}
.webDevelopment{
	margin-top: 8%;
	margin-bottom: 20px;
	width: 100%;
	height: 30%;
	p{
		display: inline;
	}
}