<section id="contactUsPage" ng-controller="ContactController as ContactUs">
    
    
    <div  ng-controller="TooltipCtrl" ng-class="ContactUs">
                                          <!--The fill-out form for the Contact Us -->
      <div class="contactForm">
        <h1>Welcome to the Contact Us Page View</h1>
            <div class="form-group">
              <label>Name:</label>
              <input type="text" ng-model="dynamicTooltipFull" class="form-control">
              </div>

            <div class="form-group">
              <label>Email:</label>
              <input type="text" ng-model="dynamicTooltipEmail" class="form-control">
              </div>

                <p>
          Pellentesque <a href="#" tooltip="{{dynamicTooltip}}">{{dynamicTooltipText}}</a>,
          sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in
          aliquam. Tincidunt lobortis feugiat vivamus at
          <a href="#" tooltip-placement="left" tooltip="On the Left!">left</a> eget
          arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur
          <a href="#" tooltip-placement="right" tooltip="On the Right!">right</a>
          nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas
          <a href="#" tooltip-placement="bottom" tooltip="On the Bottom!">bottom</a>
          pharetra convallis posuere morbi leo urna,
          <a href="#" tooltip-animation="false" tooltip="I don't fade. :-(">fading</a>
          at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus
          <a href="#" tooltip-popup-delay='1000' tooltip='appears with delay'>delayed</a> turpis massa tincidunt dui ut.
          <a href="#" tooltip-template="'myTooltipTemplate.html'">Custom template</a>
          nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas
          </p>

            <form role="form">
        <div class="form-group" value"Submit">
            <label>Leave a Message</label>
            <input type="text" value="" tooltip=""  tooltip-trigger="focus" tooltip-placement="right" class="form-control" />
            </form>
            <form action="demo.php" method="post">
        <input type="submit" value="Submit">
        </form>
        </div>
        </div>
        
                                          <!--Body of the ContactUs page-->

      <div class="bodyForm">
                                          <!--Top of the Body-->
          <div class="topForm">

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><img src="..." alt="...">...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                  </div>
                </div>
              </div>
              </div>

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><img src="..." alt="...">...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                  </div>
                </div>
              </div>
              </div>

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><img src="..." alt="...">...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> 
                  </div>
                </div>
              </div>
              </div>
            </div>
          
                  <!-- Three columns of text below the carousel -->
                                          <!--Bottom of the Body-->
          <div class="bottomForm">

            <div class="container marketing">

              <div class="row">
                  <div class="col-lg-4">
                      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                      <h2>Heading</h2>
                      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-lg-4">
                      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                      <h2>Heading</h2>
                      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-lg-4">
                      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                      <h2>Heading</h2>
                      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
               </div>  
               </div>

                                          
                                          <!--Footer for the contact us page-->
      <div class="generalFooter">
      <div class="footerStyle">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
          </div>
          </div>
          </div>
    </div>   
       </section>
    
