<section id="contactUsPage" ng-controller="ContactController as ContactUs">
    
    
    <div  ng-controller="TooltipCtrl" ng-class="ContactUs">

              <!--contactFoam -->
      <div class="contactForm">
            <h1>Welcome!!! Please Contact Us</h1>
            <div class="form-group">
              <label>Name:</label>
              <input type="text" ng-model="dynamicTooltipFull" class="form-control">
              </div>

            <div class="form-group">
              <label>Email:</label>
              <input type="text" ng-model="dynamicTooltipEmail" class="form-control">
              </div>

            <p>
              Thank you for visiting our website we hope that we were able to proved you with 
              the information needed. But if not, we at Valverde Consulting would like for you to 
              leave your name and email as well as a message with any inqußiries. Contact us by
              filling out the form or requesting a quote. Feel free to give us a call as well 
              - we are available to discuss your specific project needs in greater detail to 
              help find the best solution for you and your business.
            </p>

            
             <div class="form-group" value="Submit">
             <form role="form" id="contact">
              <label>Leave a Message</label>
                <textarea name="" form="contact" type="text" value="" tooltip=""  tooltip-trigger="focus" tooltip-placement="right" class="form-control" ></textarea>
              </form>
              <form action="demo.php" method="post">
                <input type="submit" value="Submit">
              </form>
            </div>   
      </div> <!--/contactForm/-->
        
              <!--bodyForm-->
      <div class="bodyForm">
                  <!--topForm-->
          <div class="topForm container">
                
              
            <div class="primary-contact">
              <div class="col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h4>Francis Contreras</h4>
                    <p><img src="../content/images/FrancisC.jpg" alt="Francis" width="100px" height="100px"></p>
                    <a href="#" class="btn btn-primary" role="button" >Contact</a>
                  </div>
                </div>
              </div>
              </div>


            <div class="secondary-contact">
              <div class="col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h4>Simon D. Jones</h4>
                    <p> <img src="../content/images/DavidJones.jpg" alt="David" width="100px" height="100px"></p>
                    <a href="#" class="btn btn-primary" role="button">Contact</a>
                  </div>
                </div>
              </div>
              </div>

  

            <div class="tertiary-contact">
              <div class="col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h4>Sample</h4>
                    <p> <img src="../content/images/#jpg" alt="Sample" width="100px" height="100px"></p>
                    <a href="#" class="btn btn-primary" role="button">Contact</a>
                  </div>
                </div>
              </div>
              </div>
          </div> <!--/topForm/-->
                      
            
                  <!--bottomForm-->
          <div class="bottomForm">

            <div class="container"
              <div class="row">
                  <div class="col-md-4 left">
                      <img class="img-circle" src="../Content/images/Social_Icons/linkedin.png" alt="Generic placeholder image" width="140" height="140">
                      <h2 class="linkedin">Linkedin</h2>
                      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                      <p><a class="btn btn-default" href="#" role="button">Link to Linkedin &raquo;</a></p>
                  </div><!-- /.col-md-4 -->
                  <div class="col-md-4 center">
                      <img class="img-circle" src="../Content/images/Social_Icons/facebook.png" alt="Generic placeholder image" width="140" height="140">
                      <h2 class="facebook">Facebook</h2>
                      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                      <p><a class="btn btn-default" href="#" role="button">Link to Facebook &raquo;</a></p>
                  </div><!-- /.col-md-4 -->
                  <div class="col-md-4 right">
                      <img class="img-circle" src="../Content/images/Social_Icons/twitter.png" alt="Generic placeholder image" width="140" height="140">
                      <h2 class="twitter">Twitter</h2>
                      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                      <p><a class="btn btn-default" href="#" role="button">Link to Twitter &raquo;</a></p>
                  </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
               </div>  
          </div> <!--/bottomForm/-->

                                          
     <!--Footer for the contact us page-->
          </div><!--/bodyForm/-->
          <div ng-controller="generateFooter">
            <footer ng-bind-html="footerHtml"></footer> 

          </div> 
    </div>    
</section>