.header {
  width: 100%;
  height: 6em;
  overflow: hidden; }

.header .compTitle {
  position: absolute;
  color: #ffffff;
  text-shadow: -1px 4px 5px #bababa;
  top: .8em;
  left: .85em;
  font-size: 2em;
  text-shadow: 1px 3px 4px #d3d3d3;
  /*border-style: solid;*/ }

.rounded {
  margin-left: .5em;
  margin-top: .1em;
  border-radius: 100px;
  width: 14em;
  height: 14em;
  box-shadow: -1px 1px 20px 4px rgba(255, 255, 255, 0.66);
  -webkit-border-bottom-image: blur(4px); }

.btn {
  /*box-shadow: 2px 2px 1px  0 #5e8856; */
  box-shadow: 2px 0 1px 0 #96c8a, 0 1px 0 #fff; }

.news {
  border-style: solid;
  position: absolute;
  top: 15em;
  left: 450px;
  background-color: red;
  width: 225px;
  height: 210px; }

.parent {
  position: relative;
  border: solid;
  width: 40em;
  height: 12em;
  overflow: hidden; }

img {
  float: left; }

#header img {
  float: left;
  width: 300px;
  height: 100px; }

#mainMnu {
  float: right;
  margin-top: 40px;
  margin-right: 4%; }
  #mainMnu .items li {
    margin-top: 4%;
    display: inline;
    margin-right: 10px; }

.carousel-control {
  opacity: 0.1; }

#slides_control > div {
  height: 200px; }

#slides_control {
  left: 10%;
  top: .1em;
  height: 48.5%; }
  #slides_control img {
    height: 450%;
    width: 130em; }

.upperbody {
  margin-top: 422px;
  margin-left: 0px;
  height: 500px; }
  .upperbody p {
    padding: 5%; }

.middlebody .whoWeAre {
  color: #000000;
  border: 1px solid black;
  background-color: #285074;
  height: 490px; }
  .middlebody .whoWeAre p {
    padding: 5%; }
.middlebody .whatWeDo {
  color: #000000;
  border: 1px solid black;
  background-color: #285074;
  height: 490px; }
  .middlebody .whatWeDo p {
    padding: 5%; }
.middlebody .corpMantra {
  color: #000000;
  border: 1px solid black;
  background-color: #285074;
  height: 490px; }
  .middlebody .corpMantra p {
    padding: 5%; }

.bottombody .loft {
  background-color: #ffffff;
  margin-left: 0px;
  height: 500px; }
  .bottombody .loft p {
    padding: 1%; }
.bottombody .who {
  color: #000000;
  border: 1px solid black;
  background-color: #285074;
  height: 385px; }
  .bottombody .who p {
    padding: 5%; }
.bottombody .what {
  color: #000000;
  border: 1px solid black;
  background-color: #285074;
  height: 385px; }
  .bottombody .what p {
    padding: 5%; }
.bottombody .where {
  color: #000000;
  border: 1px solid black;
  background-color: #285074;
  height: 385px; }
  .bottombody .where p {
    padding: 5%; }

article p {
  margin-right: 75px;
  text-align: center; }

.contactForm {
  background-image: url(../images/Grey_business_ppt_template.jpg);
  margin: 0% 0.01% 5% 0.01%;
  padding: 50;
  position: relative; }
  .contactForm .form-group {
    width: 25%; }
  .contactForm p {
    padding-right: 20%; }

.bodyForm {
  background-color: #ffffff;
  margin-top: -4.99%;
  position: relative; }
  .bodyForm .topForm .primary-contact .col-md-4 {
    padding: 2.5%;
    right: 150px; }
    .bodyForm .topForm .primary-contact .col-md-4 .thumbnail {
      margin: 50px;
      height: 270px; }
      .bodyForm .topForm .primary-contact .col-md-4 .thumbnail .caption {
        padding: 0 0 30px 0; }
        .bodyForm .topForm .primary-contact .col-md-4 .thumbnail .caption h4 {
          text-align: center; }
        .bodyForm .topForm .primary-contact .col-md-4 .thumbnail .caption p {
          padding-top: 10px; }
          .bodyForm .topForm .primary-contact .col-md-4 .thumbnail .caption p img {
            margin-top: 20px;
            margin-left: 55px; }
        .bodyForm .topForm .primary-contact .col-md-4 .thumbnail .caption a {
          margin-top: 20px;
          margin-left: 70px; }
  .bodyForm .topForm .secondary-contact .col-md-4 {
    padding: 2.5%; }
    .bodyForm .topForm .secondary-contact .col-md-4 .thumbnail {
      margin: 50px;
      height: 270px; }
      .bodyForm .topForm .secondary-contact .col-md-4 .thumbnail .caption {
        padding: 0 0 30px 0; }
        .bodyForm .topForm .secondary-contact .col-md-4 .thumbnail .caption h4 {
          text-align: center; }
        .bodyForm .topForm .secondary-contact .col-md-4 .thumbnail .caption p {
          padding-top: 10px; }
          .bodyForm .topForm .secondary-contact .col-md-4 .thumbnail .caption p img {
            margin-top: 20px;
            margin-left: 55px; }
        .bodyForm .topForm .secondary-contact .col-md-4 .thumbnail .caption a {
          margin-top: 20px;
          margin-left: 70px; }
  .bodyForm .topForm .tertiary-contact .col-md-4 {
    padding: 2.5%;
    left: 170px; }
    .bodyForm .topForm .tertiary-contact .col-md-4 .thumbnail {
      margin: 50px;
      height: 270px; }
      .bodyForm .topForm .tertiary-contact .col-md-4 .thumbnail .caption {
        padding: 0 0 30px 0; }
        .bodyForm .topForm .tertiary-contact .col-md-4 .thumbnail .caption h4 {
          text-align: center; }
        .bodyForm .topForm .tertiary-contact .col-md-4 .thumbnail .caption p {
          padding-top: 10px; }
          .bodyForm .topForm .tertiary-contact .col-md-4 .thumbnail .caption p img {
            margin-top: 20px;
            margin-left: 55px; }
        .bodyForm .topForm .tertiary-contact .col-md-4 .thumbnail .caption a {
          margin-top: 20px;
          margin-left: 70px; }
  .bodyForm .bottomForm .container {
    margin-top: 10%;
    padding-bottom: 10%; }
    .bodyForm .bottomForm .container .col-md-4 .img-circle {
      margin-top: -15%;
      margin-left: 120px; }
    .bodyForm .bottomForm .container .col-md-4 .facebook {
      margin-top: 25%;
      margin-left: 110px; }
    .bodyForm .bottomForm .container .col-md-4 .linkedin {
      margin-top: 25%;
      margin-left: 125px; }
    .bodyForm .bottomForm .container .col-md-4 .twitter {
      margin-top: 25%;
      margin-left: 135px; }
    .bodyForm .bottomForm .container .col-md-4 p {
      text-align: center; }
    .bodyForm .bottomForm .container .col-md-4 p a {
      display: inline; }
    .bodyForm .bottomForm .container .col-md-4.left {
      right: 15%; }
    .bodyForm .bottomForm .container .col-md-4.right {
      left: 15%; }

#registerPage {
  background-image: url(../images/Grey_business_ppt_template.jpg);
  background-color: black;
  length: 50%;
  height: 50%;
  margin-top: -20px; }
  #registerPage h1 {
    color: black;
    outline: blue; }
  #registerPage h2 {
    text-align: center;
    font-weight: bold; }

.Login {
  background-color: white;
  width: 50%;
  length: 25%;
  border: 1px solid black;
  padding: 4% 8% 4% 8%;
  font-weight: bold; }
  .Login .form-group {
    opacity: 1; }
    .Login .form-group.f {
      color: white; }
    .Login .form-group.se {
      color: white; }
    .Login .form-group.th {
      color: white;
      width: 20%; }
    .Login .form-group.fo {
      color: white;
      width: 20%; }
    .Login .form-group.fi {
      color: white;
      width: 20%; }
    .Login .form-group.si {
      color: white;
      width: 40%; }
    .Login .form-group.sev {
      color: white; }
    .Login .form-group.ei {
      color: white; }

.Registration {
  background-color: white;
  width: 50%;
  length: 25%;
  border: 1px solid black;
  padding: 4% 8% 4% 8%;
  font-weight: bold; }
  .Registration .form-group {
    opacity: 1; }
    w
    .Registration .form-group.f {
      color: white; }
    .Registration .form-group.se {
      color: white; }
    .Registration .form-group.th {
      color: white;
      width: 20%; }
    .Registration .form-group.fo {
      color: white;
      width: 20%; }
    .Registration .form-group.fi {
      color: white;
      width: 20%; }
    .Registration .form-group.si {
      color: white;
      width: 40%; }
    .Registration .form-group.sev {
      color: white; }
    .Registration .form-group.ei {
      color: white; }

.introSection {
  background-image: url(../images/Grey_business_ppt_template.jpg);
  margin-top: -20px;
  width: 100%;
  height: 500px; }
  .introSection p {
    padding: 20px 20px;
    width: 500px; }

.searchMenu {
  margin-top: -500px;
  border: 1px solid black;
  width: 200px;
  float: right; }
  .searchMenu .searchList {
    height: 448px; }

.jobPosting {
  width: 100%;
  border-top: 2px solid black; }
  .jobPosting .searchMenu {
    padding: 40px 40px; }

.jobDescription {
  border-top: 2px solid black;
  width: 100%;
  padding: 20px 20px; }
  .jobDescription .descriptonReturn {
    padding: 20px 20px; }

.productsHeader {
  background-image: url("../images/Grey_business_ppt_template.jpg");
  margin-top: -20px;
  height: 500px;
  width: 100%; }

.productsBody {
  margin-top: 30px;
  width: 100%;
  height: 1000px; }
  .productsBody p {
    display: inline; }

.solutionHeader {
  background-image: url("../images/Grey_business_ppt_template.jpg");
  margin-top: -20px;
  height: 500px;
  width: 100%; }

.solutionBody {
  margin-top: 30px;
  width: 100%;
  height: 80%; }
  .solutionBody p {
    display: inline; }

.webDevelopment {
  margin-top: 8%;
  margin-bottom: 20px;
  width: 100%;
  height: 30%; }
  .webDevelopment p {
    display: inline; }

.generalFooter {
  background-color: #244862; }
  .generalFooter .footerStyle {
    padding-bottom: 20px; }
    .generalFooter .footerStyle blockquote {
      margin-top: 0%; }
      .generalFooter .footerStyle blockquote p {
        color: white; }

/*# sourceMappingURL=application.css.map */
