@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_main\.scss}line{font-family:\000031}}
.header {
  box-shadow: 2px 2px 2px 2px #bdbdbd, 0 2px 0 #fff;
  width: 100%;
  height: 10em;
  background: linear-gradient(#ceefff, #92d3fa);
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_main\.scss}line{font-family:\0000313}}
.header .compTitle {
  position: absolute;
  color: #ffffff;
  text-shadow: -1px 4px 5px #bababa;
  top: .8em;
  left: .85em;
  font-size: 2em;
  text-shadow: 1px 3px 4px #d3d3d3;
  /*border-style: solid;*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_main\.scss}line{font-family:\0000326}}
.rounded {
  margin-left: .5em;
  margin-top: .1em;
  border-radius: 100px;
  width: 14em;
  height: 14em;
  box-shadow: -1px 1px 20px 4px rgba(255, 255, 255, 0.66);
  -webkit-border-bottom-image: blur(4px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_main\.scss}line{font-family:\0000337}}
.btn {
  /*box-shadow: 2px 2px 1px  0 #5e8856; */
  box-shadow: 2px 0 1px 0 #96c8a, 0 1px 0 #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_main\.scss}line{font-family:\0000343}}
.news {
  border-style: solid;
  position: absolute;
  top: 15em;
  left: 450px;
  background-color: red;
  width: 225px;
  height: 210px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_main\.scss}line{font-family:\0000356}}
.parent {
  position: relative;
  border: solid;
  width: 40em;
  height: 12em;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_main\.scss}line{font-family:\0000365}}
img {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_headerMenu\.scss}line{font-family:\000034}}
section#mainMnu {
  margin-left: 40em;
  margin-top: 7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_headerMenu\.scss}line{font-family:\0000310}}
  section#mainMnu ul li {
    display: inline;
    margin-left: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_headerMenu\.scss}line{font-family:\0000316}}
#header img {
  margin-top: -60px;
  float: left;
  width: 500px;
  height: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_homePage\.scss}line{font-family:\000031}}
#slides_control > div {
  height: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_homePage\.scss}line{font-family:\000038}}
#slides_control {
  position: absolute;
  left: 10%;
  top: .1em;
  margin-left: -200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\000033}}
.contactForm {
  background-image: url(../images/Grey_business_ppt_template.jpg);
  color: black;
  border: 2.5px solid black;
  margin: 0% 0.01% 5% 0.01%;
  padding: 50px 50px 50px 50px;
  max-width: 100%;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000311}}
  .contactForm .form-group {
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000316}}
.bodyForm {
  background-color: #DEDEDB;
  border: 2.5px solid black;
  margin-top: -4.99%;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000322}}
  .bodyForm .topForm .row {
    display: inline-block;
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 0%;
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000329}}
    .bodyForm .topForm .row .col-sm-6 {
      width: 120%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000331}}
      .bodyForm .topForm .row .col-sm-6 .thumbnail {
        height: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000333}}
        .bodyForm .topForm .row .col-sm-6 .thumbnail .caption {
          max-height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000335}}
          .bodyForm .topForm .row .col-sm-6 .thumbnail .caption h3 {
            max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000339}}
          .bodyForm .topForm .row .col-sm-6 .thumbnail .caption p img {
            margin: 50px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000344}}
          .bodyForm .topForm .row .col-sm-6 .thumbnail .caption p a {
            margin: 160px 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000346}}
            .bodyForm .topForm .row .col-sm-6 .thumbnail .caption p a .btn btn-primary {
              max-height: 100%;
              padding: 10px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000358}}
  .bodyForm .bottomForm .container.marketing {
    padding-bottom: 10%;
    margin-top: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000363}}
    .bodyForm .bottomForm .container.marketing .col-lg-4 .img-circle {
      margin-left: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000366}}
    .bodyForm .bottomForm .container.marketing .col-lg-4 h2 {
      margin-top: 50%;
      margin-left: 33%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000370}}
    .bodyForm .bottomForm .container.marketing .col-lg-4 p {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000374}}
    .bodyForm .bottomForm .container.marketing .col-lg-4 p a {
      display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000383}}
.generalFooter {
  background-color: #244862;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000386}}
  .generalFooter .footerStyle {
    padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000388}}
    .generalFooter .footerStyle blockquote {
      margin-top: 0%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000390}}
      .generalFooter .footerStyle blockquote p {
        color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_ContactView\.scss}line{font-family:\0000393}}
      .generalFooter .footerStyle blockquote footer {
        color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\000031}}
#registerPage {
  background-image: url(../images/Internet-Business5.jpg);
  margin-top: 0%;
  border: 2.5px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\000037}}
  #registerPage h1 {
    color: black;
    outline: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000311}}
  #registerPage h2 {
    text-align: center;
    font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000318}}
.Registration {
  opacity: 0.7;
  border: 5px solid black;
  margin: 10% 5% 0% 5%;
  padding: 10% 10% 10% 10%;
  margin-bottom: 10%;
  background-color: white;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000326}}
  .Registration .form-group {
    opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000328}}
    .Registration .form-group.f {
      color: pink; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000332}}
    .Registration .form-group.se {
      color: green; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000335}}
    .Registration .form-group.th {
      color: yellow;
      width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000339}}
    .Registration .form-group.fo {
      color: blue;
      width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000343}}
    .Registration .form-group.fi {
      color: orange;
      width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000347}}
    .Registration .form-group.si {
      color: brown;
      width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000351}}
    .Registration .form-group.sev {
      color: purple; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/ValverdeWebSite\/ValverdeWebSited\/Content\/SassStyle\/_RegisterView\.scss}line{font-family:\0000354}}
    .Registration .form-group.ei {
      color: red; }
